body {
  font-size: 100px;
  background-image: url("https://media0.giphy.com/media/VRKheDy4DkBMrQm66p/giphy.gif?cid=ecf05e471i335reezo5jdl93dqlwidt6tta0o68xyy1qbkat&rid=giphy.gif&ct=g");
}
button {
  height: 100px;
  width: 100px;
}
